body{
    background-color: #0D0D28;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    border-radius: 9px;
    height: 60px;
    width: 161px;
    background-color: #87CEEB;
    padding: 4px 20px;
    color: black;
}

.btn:hover{
    border: #87CEEB 4px solid;
}

.btn a{
    color: #0D0D28;
    font-size: 30px;
}