*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-color: #2F6661;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    max-height: 100px;
}

footer img{
    height: 20px;
}

