@import url(global.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #2F6661;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1vh;
}

footer {
    display: flex;
    background-color: #2F6661;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    max-height: 100px;
}

footer img{
    height: 20px;
}

