@import url(global.css);

header{
    background-color: #2F6661;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

header h2{
    color: #87CEEB;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1vh;
}

/* ==============first section============== */

.event_selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.progress{
    display: flex;
    gap: 5px;
}

.progress :nth-child(odd){
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress :nth-child(even){
    height: 15px;
    width: 80px;
    background-color: gray;
    align-self: center;
}

h1{
    color: gray;
}

.events{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

p{
    color: white;
    font-size: 25px;
}

span{
    color: #F60909;
}

.events > div div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.first3>div {
    width: 323px;
    height: 340px;
    background-color: #2F6661;
    border-radius: 9px;
}

.first3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.last3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.last3>div{
    width: 323px;
    height: 340px;
    background-color: #2F6661;
    border-radius: 9px;
}

.events>div>div:hover{
    border: #87CEEB 5px solid;
}

/* ==============second section============== */

.tickets_booking{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.event_tickets{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 323px;
    height: 450px;
    background-color: #2F6661;
    border-radius: 9px;
    gap: 30px;
}

.event_tickets .tickets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.event_tickets:hover{
    border: #87CEEB 4px solid;
}

.btn_ticket{
    border-radius: 9px;
    height: 30px;
    width: 40px;
    background-color: #87CEEB;
    padding: 5px;
    color: black;
}

.btn_ticket:hover{
    border: #87CEEB 4px solid;
}

.event_img img{
    width: auto;
    height: 120px;
}

/* ==============third section============== */

.tickets_filler{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formula>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.formula{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    gap: 30px;
}

form>input{
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    width: 300px;
}

.board{
    background-color: #2F6661;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.tickets_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 300px;
    width: 300px;
    padding: 15px;
}

.sub-btn{
    border-radius: 9px;
    height: 29px;
    width: 80px;
    background-color: #87CEEB;
    padding: 4px 10px;
    color: black;
}

.board:hover{
    border: #87CEEB 4px solid;
}

/* ==============Last section============== */

.confirmation_area{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.event_conf{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 323px;
    height: 433px;
    background-color: #2F6661;
    border: #87CEEB 4px solid;
    border-radius: 9px;
}

.event_conf:hover{
    border: #87CEEB 5px solid;
}

footer {
    display: flex;
    background-color: #2F6661;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    max-height: 100px;
}

footer img{
    height: 20px;
}

@media(min-width:1024px){
    .first3, .last3{
        flex-direction: row;
        gap: 4vw;
    }
    nav ul{
        gap: 3vh;
    }
    nav a{
        font-size: 16px;
    }
    footer img{
    height: 30px;
    }
    footer h3{
        font-size: 25px;
    }
    .board{
        flex-direction: row;
    }
}